<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes without products</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h4>Recipes without product {{product.name}} or with products less than 10g</h4>
    <table>


        <tr>
            <th>id</th>
            <th>Name</th>
        </tr>

        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.name }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>